@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}

$main: #D53C4E;
$background: #222222;
$secondarybg: #303030;;
$text: #FFFFFF;

*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html{
    height: 100%;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: $background;
    color: $text;
    height: 100%;
}

#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

.router-container{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.tft-insights-container{
    max-width: 480px;
    padding: 5px;
}

.nav{
    padding-top: 5px;
    background-color: $secondarybg;
}

.center{
    text-align: center;
}

.note{
    opacity: 0.8;
    font-size: 14px;
    font-weight: 150;
}

.btn-main{
    background-color: $main !important;
    display:block !important;
    margin:0px auto !important;
}

.MuiTab-root{
    color: $text !important;
}

.Mui-selected{
    color: $main !important;
}

.MuiTabs-indicator{
    background-color: $main !important;
}

.nav{
    .MuiTabs-root{
        .MuiTabs-scroller{
            flex: 0 1 auto;
            margin: auto;
        }
    }
}


.MuiPaper-root{
    background-color: $secondarybg !important;
    .MuiTableCell-root, .MuiButtonBase-root, svg{
        color: $text !important;
    }
}

.tab-icon-container{
    display: flex;
    flex-direction: column;

    img{
        height: 35px;
        max-width: 35px;
    }
}

.rounded-tab-icon{
    img{
        border-radius: 50%;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $main;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.track-vertical {
    top: 0;
    bottom: 0;
    right: 1px;
    border-radius: 3px;
  
    .thumb-vertical {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        background-color: $main; // changed the color
    }
  
  }
  
  .track-horizontal {
    position: absolute;
    height: 6px;
    right: 0;
    bottom: 0;
    left: 0;
    
    .thumb-horizontal {
        position: relative;
        display: block;
        height: 100%;
        cursor: pointer;
        border-radius: 3px;
        background-color: $main; // changed the color
    }
  }
  
  .scrollbar{
    div:first-of-type{
        right: -1px !important;
        margin: auto;
    }
  }
  
  .scrollbar:hover{
    .track-horizontal{
      opacity: 1 !important;
    }
    .track-vertical{
      opacity: 1 !important;
    }
  }

.Toastify__toast--default{
    background-color: $secondarybg !important;
    color: $text !important;
    border-radius: 5px !important;
    padding: 25px 15px !important;
    svg{
        color: $text;
    }

    .Toastify__close-button--default{
        opacity: 0.7;
        margin-top: -10px;
    }
}

td{
    padding: 5px 0 !important;
}

.champion{
    display: flex !important;
    align-items: center;

    .champion-icon{
        width: 45px;
        margin: 2px 15px 2px 7px;
    }
}

.items{
    display: flex !important;
    justify-content: center;

    .item{
        display: flex;
        flex-direction: column;
        margin: 0 3px !important;
    
        .item-icon{
            width: 35px;
        }

        span{
            margin-bottom: -6px;
        }
    }
}

.select-normal{
    color: $text !important;

    .MuiSelect-icon{
      color: $text !important;
    }
}

.select-normal, .select-normal::before, .select-normal::after{
    border-color: $text !important;
}
  
.retry-button{
    margin-top: 20px !important;
}

.search-container{
    display: flex;

    .search-bar{
        display: flex;
        padding: 25px;
        background-color: $secondarybg;
        border-radius: 15px;

        .region-dropdown{
            margin-left: 20px;
        }

        .input{
            margin-top: 7px;
            border-radius: 20px;
            padding-left: 10px;
            background-color: $background;
        
            input{
                padding: 10px 10px 5px 10px;
                font-weight: normal;
                max-width: 150px;
            }
        
            .MuiInput-underline, .MuiInput-underline::before, .MuiInput-underline::after{
                border-bottom: none;
                color: $text;
            }
        }
    }
    
}

.clickable{
    cursor: pointer;
}

.summoner-container{
    display: flex;
    margin: 20px;

    .rift-summoner, .tft-summoner, .lor-summoner{
        display: flex;
        padding: 20px;
        border-radius: 15px;
        background-color: $secondarybg;
    
        .summoner-icon-container{
            position: relative;
            margin-right: 20px;
    
            .summoner-icon{
                max-width: 150px;
            }
        
            .summoner-level{
                position: absolute;
                background-color: $text;
                color: $background;
                border-radius: 10px;
                padding: 0 10px;
                bottom: 5px;
                right: 50%;
                transform: translate(50%);
            }
        }
    
        .summoner-info-container{
            position: relative;
            display: flex;
            flex-direction: column;
            padding-bottom: 60px;
            
            .label{
                font-weight: 200;
                font-size: 14px;
            }

            span:nth-of-type(even) {
                margin-bottom: 5px;
            }

            .summoner-type-icon{
                bottom: 0;
                right: 0;
                width: 50px;
                height: 50px;
                position: absolute;
            }
        }
    }
}

.capitalized{
    text-transform: capitalize;
}



@include mq(650px) {
    .nav { 
        .MuiTabs-root{
            .MuiTab-wrapper{
                display: none;
            }

            .MuiTab-root{
                min-width: 0 !important;
            }
        }
    }
  }
