@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}

$main: #D53C4E;
$background: #222222;
$secondarybg: #303030;
$text: #FFFFFF;

//riftChampion
.champion-container {
    margin: 20px;
    // padding: 20px;
    // border-radius: 15px;
    border-style: solid;
    border-width: 2;
    border-color: black;
    background-color: $secondarybg;
    max-width: 1200px;
    width: 100%;
    
    .preview-active {
        transition: height 0.3s linear;
        height: 717px;
        // width: 1215px;
        width: 100%;
        
        
        
    }
    .champion-details-container {
        font-size: inherit; 
        position: relative;  
        overflow: hidden;

        .big-image-preview {
            display:none;
            text-align: center;
           
            
            align-items: center;
            justify-content: center;

            .button-inside-preview {
                height: 100%;
                top: 90%;
                
                
                
                position: relative;
            }
        }

        .hide {
            display: none !important;
        }
        .show {
            display: block;
            width: 100%;
            height: 100%;
        }

        .background-image {
            // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.849);
            width: 100%;
            height: 100%;
            display: block;
            filter: blur(5px);
            -webkit-filter: brightness(0.60) blur(5px);
            position: absolute;
            // transform: translate(-1%, -1%);
            
        }  

        .details-container {
            // background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg');
            // background-size: cover;

            
            // background: rgba(255, 255, 255, 0.35);
            // border-radius: 3px;
           
            // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            // top: 10px;
            // left: 0;
            position: relative;
            // margin-left: 20px;
            // margin-right: 20px;
            // right: 0;
            // z-index: 3;
            



            display: flex;
            flex-direction: column;

           
    


            .details-top {
                
                padding: 50px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
              
                // -ms-transform: translateY(-50%);
                // transform: translateY(-50%);

                .champion-avatar {
                    
                    img {
                        width: 150px;
                        // height: 150px;
                    }
                }
                

                .champion-name-title-container {
                    display: flex;
                    flex-direction: column;
                    // padding-left: 50px;
                    text-align: center;
                    // padding-top: 40px;
                    background-color: $secondarybg;
                    justify-content: space-evenly;

                    border-style: solid;
                    border-width: 3px;
                    border-color: black;
                    padding-right: 5px;
                    padding-left: 5px;
                    

                    .champion-name {
                        font-size: 2em;
                        font-weight: bold;
                        
                    }    
                    .champion-title {
                        margin-top: 10px;
                        font-size: 1.20em;
                        // font-weight: bold;
                        font-style: italic;
                        
                    }

                     .website-references {
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        // padding-top: 40px;

                        div {
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                        div:first-of-type {
                            padding-left: 0px;
                        }                   
                        div:last-of-type {
                            padding-right: 0px;
                        }
                        .website-reference a {
                            color: white;
                            display: flex;
                            flex-direction: column;
                            // text-decoration: none;

                        }
        
                        
                        .website-reference span {
                            font-size: 12px;
                            color: orange;
                        }
                    }
                }

               
                
                .champion-stats {
                    border-style: solid;
                    border-width: 3px;
                    border-color: black;
                    // margin-top: 35px;
                    // margin-left: 45px;
                    padding-top: 5px;
                    padding-left: 5px;
                    display: flex;
                    flex-direction: row;
                    height: 200px;
                    height: fit-content;
                    

                    background-color: $secondarybg;

                    .stat-row {
                        display: flex;
                        flex-direction: column;
                        padding-right: 10px;
                        

                        .stat {
                            margin-bottom: 8px;
                        
                            .stat-name {
                                font-size: 16px;
                            }
                            .value {
                                font-size: 14px;
                            }
                            .per-level {
    
                                color: rgb(44, 206, 44);
                            } 
                        }
                        
                    }
                    
                }
                
            }

            .preview-button {
                margin-top: 50px;
                margin-bottom: 50px;
                text-align: center;
            }

            .tips-container {
                
                .ally-tips-container, .enemy-tips-container {
                    display: flex;
                    flex-direction: row; 
                    margin: 0;
                
                    .fight-as-against {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: normal;
                        //TODO: centrar vertical
                    }
                    
                    .tips {
                        display: flex;
                        flex-direction: column;
                    }


                }
            }

        }

      
        
    }
    
   
    .details-container {
        z-index: 6;
    }

    .skins-list-container {
        width: 100%;
        border-top-style: solid;
        border-top-width: 5px;
        border-color: #c9c9c9;

        .skins-list {
            overflow-x: auto;
            display: flex;
            flex-direction: row;
    
            .champion-avatar-img {
                width: 150px;
                // height: 100%;
                opacity: 0.5;
                transition: opacity 0.3s linear;
            }

            .chosen {
               opacity: 1; 
               transition: opacity 0.3s linear;
            }
        }
        
    }

    .details-bottom {
        display: flex;
        flex-direction: column;
        // justify-content: center;
    }
    



}

//riftChampions
.champion-grid-container { 
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(5, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;

    a{
        text-decoration: none;
        color: $text;
    }

        
    .champion-link {
        color: inherit;
    }

    .container-background-image {
        top: 0;
        left: 0;
        width: 400px;
        height: 400px;
    }

    .rift-champion-container-child {
        position: absolute;
        transform: translate(50%, -50%);
        top: 50%;
        right: 50%;
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        .champ-img {
            margin: 10px;
            width: 100px;
            height: 100px;
        }
    }


    .rift-champion-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 20px;
        background-size: cover;
        // padding-top: 56.25%;
        padding-top: 59%;
        position: relative;
        height: 0;
        outline: solid 3px #998c90;
        opacity: 1;
        transition: opacity 0.3s linear;
        z-index: 101;
    
        .text-grid {
            background-color: blue;
            //    border-radius: 15px;
            // margin-top: 20px !important;
            // margin-bottom: 20px !important;
            display: flex;
            align-items: center;
            padding: 20px;
            flex-direction: column;
            // position: absolute;
            justify-content: center;
            background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
             
            .champ-name {
                font-size: 20px !important;
                margin-bottom: 10px;
            }

            .champ-tags {
                font-size: 15px !important;
            }

        }
    }

    .hide {
        transition: opacity 0.3s linear;
    }

    
    .rift-champion-container:hover + .hidden-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hidden-details {
        position: absolute;
        display: none;
        transition: opacity 0.3s linear;
        transform: translate(50%, -50%);
        top: 50%;
        right: 50%;
        pointer-events: none;
        width: 100%;
        
    }



    .hidden-container {
        position: relative;
        z-index: 101;
    }
    

    .rift-champion-container:hover {
        outline-width: 6px; 
        opacity: 0.3;
        transition: opacity 0.3s linear;
       
        .hide {
            display: none;
        }
    }

   
    
}

@include mq(1500px) {
    .champion-grid-container{ 
        grid-template-columns: repeat(4, 1fr);
  }
}

@include mq(1200px) {
    .champion-grid-container{
        grid-template-columns: repeat(3, 1fr);
  }
}


@include mq(900px) {
    .champion-grid-container{
        grid-template-columns: repeat(2, 1fr);
  }
}


@include mq(600px) {
    .champion-grid-container{
        grid-template-columns: repeat(1, 1fr);
  }
}


@include mq(1500px) {

    .details-top {
      flex-direction: row;
      display: flex;

}
}

@include mq(1000px) {
    .details-top {
        flex-direction: column !important;
        display: flex;
    }
    .champion-stats {
        margin-top: 5px !important;
    }
    
}


