@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}

$main: #D53C4E;
$background: #222222;
$secondarybg: #303030;;
$text: #FFFFFF;

.champ-list-root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: blue;
}

.champ-img {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.champ-list-grid-list {
    width: 200px;
    height: 150px;
}
.rift-champion-container {
    display: flex;
    color: white;
    
    // padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-size: 100%;
    background-color: rgb(31, 31, 95);
    height: 140px;
    width: 240px;
    flex-grow: 1;
}

.champ-name {
    font-size: 20px !important;
}
.text-grid {
   background-color: blue;
//    border-radius: 15px;
   margin-top: 20px !important;
   margin-bottom: 20px !important;
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
}

// .champ-img {
//     padding: 10px;
//     top: 50%;
// }

// .paper-root {
//     flex-grow: 1;
// }
// .paper-rift-champions {
//     max-width: 500px;
//     margin: auto;
// }


